
input.btn_nav.next_month {
    background: url(../images/right-chevron.png) no-repeat;
    background-size: 18px;
    border: 0 !important;
    cursor: pointer;
    background-position: 0px 0px;
}

input.btn_nav.setPreviousMonth{
  background: url(../images/left-chevron.png) no-repeat;
    background-size: 18px;
    border: 0 !important;
    cursor: pointer;
    background-position: 0px 0px;
}
.month_style {
  width: 120px;
  font-size: 18px;
  color:blue;
  background-color: azure;
  border: 1px solid blue;
  border-radius:5px;
}

.year_style {
  width: 85px;
  font-size: 18px;
  text-align: center;
  color:blue;
  background-color: azure;
  border: 1px solid blue;
  border-radius:5px;
}

.build_style {
  width: 85px;
  font-size: 18px;
  cursor: pointer;
  color:white;
  background-color: blue;
  border: 1px solid blue;
  border-radius:5px;
}

.area_style {
  width: 294px;
  margin-top: 15px;
  font-size: 24px;
  max-width: 294px;
  max-height: 224px;
  background:azure;
  color:blue;
  border:1px solid blue;
  border-radius:8px;
}
/*just remove the max-height
 and max-width to move the textarea
*/

