<!DOCTYPE html>
<html>

<head>


</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="col-sm-10">
        <button style="font-size:14px;padding: 0;border: 0;background: no-repeat;" id="clicke_to" ng-click="prevBtn()"><img
                src="images/left-chevron.png" alt=""></button>

        <div class="date_to_show" style="display: inline-block;
            width: 200px;
            text-align: center !important;">
            <span id="show_date1" style="display: none">{{date}}</span>
            <span id="show_date" style="">{{date}}</span>



        </div>
        <span id="show_dates">{{curDay | date:'yyyy-MM-dd'}}</span>

        <!--  <button style="font-size:14px" ng-click="todayBtn()">&nbsp;Today&nbsp;</button> -->
        <button style="font-size:14px;padding: 0;border: 0;background: no-repeat;" id="clicke_to" ng-click="nextBtn()"><img
                src="images/right-chevron.png" alt=""></button>
    </div>
    <script src="js/jquery.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script> -->
    <script src="js/angular.min.js"></script>



    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            var today = new Date();

            var curDay = new Date(today);
            $scope.prevBtn = function () {

                curDay.setDate(curDay.getDate() - 1);
                showDate();


            }

            $scope.todayBtn = function () {
                curDay = new Date(today);
                // showDate();
            };

            $scope.nextBtn = function () {
                curDay.setDate(curDay.getDate() + 1);

                showDate();


            };

            function showDate() {
                var dd = curDay.getDate();
                var mm = curDay.getMonth() + 1;
                var yyyy = curDay.getFullYear();
                var dateStr = dd + '-' + mm + '-' + yyyy;
                $scope.date = dateStr;

            };
            var dd = curDay.getDate();
            var mm = curDay.getMonth() + 1;
            var yyyy = curDay.getFullYear();
            var dateStr = dd + '-' + mm + '-' + yyyy;
            $scope.date = dateStr;



        });
    </script>
</body>

</html>